{% extends 'base.html' %}

{% block content %}
    {% if idd == -1 %}
    <h1>You don't have a group</h1>
    {% else %}
        <h2 align="left">Group ID: {{ idd }}</h2>
        <h3>Mentor: {{ g.mentor.first_name }} {{ g.mentor.last_name }}</h3>
        <table align="center">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>CPI</th>
            </tr>
            {% for t in userall %}
                <tr>
                    <td>{{ t.username }}</td>
                    <td>{{ t.first_name }} {{ t.last_name }}</td>
                    <td>{{ t.profile.cpi }}</td>
                </tr>
            {% endfor %}
    {% endif %}
    {% endblock %}
