
{% extends 'base.html' %}

{% block content %}
    <h1>Hello leader</h1>
  <h2>Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
  <p>Your email address: {{ user.email}}</p>
        {% for x in range%}
            {% if x >  1 %}
                <h2>Slot {{ x }}</h2>
                    <table>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Send request</th>
                        </tr>
                        {% for k in all %}
                            {% if k.teamformation.slot_no == x %}
                                <tr>
                                    <td>{{ k.username }}</td>
                                    <td>{{ k.first_name }} {{ k.last_name }}</td>
                                    <td>
                                        <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                '{{ k.id }}'
                                                {% if '{{ k.id }}' in sent_requests %}
                                                    <button type="submit" name={{ k.id }} value={{ k.id}} disabled>Sent '{{ k.id }}'</button>
                                                {% else %}
                                                     <button type="submit" name={{ k.id }} value={{ k.id}}>Add </button>
                                                {% endif %}
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </table>



            {% endif %}
        {% endfor %}

{% endblock %}